.workout
  section
    .content
      article
        .date-and-routine-name.h3-font-size
          .date
            a(ng-if="$state.includes('user.workout')", ui-sref="user.workout.change-date")
              | {{ date | date:'EEE MMM d' }}
            a(ng-if="$state.includes('user.history.details')", ui-sref="user.history.details.change-date")
              | {{ new_date || date | date:'EEE MMM d' }}
          .routine-name
            | {{ workout.routine.name }}
      .routine
        article(ng-repeat="lift in lifts")
          .lift(ng-class="classname", ng-controller="LiftController")
            .name-and-weight.tar
              .name.tal!="{{ lift.name }}"
              a.weight(ng-if="$state.includes('user.workout')", ui-sref="user.workout.change-weight({ lift: lift.name })")
                | {{ lift.weight }} {{ weight_unit }}
              a.weight(ng-if="$state.includes('user.history.details')", ui-sref="user.history.details.change-weight({ lift: lift.name })")
                | {{ lift.weight }} {{ weight_unit }}
            .status
              .sets(ng-style="getStyle('sets')")
                .vah
                .set(ng-repeat="set in lift.sets track by $index", ng-click="updateSet($index)", ng-class="{completed: set.completed > -1}")
                  .reps
                    | {{ set.completed > -1 ? set.completed : set.target }}
                .vah
              .success(ng-style="getStyle('success')", ng-click="dismissMessage()")
                .vah
                .message!="{{successMessage}}"
                .vah
                a.dismiss!="&times;"
              .failure(ng-style="getStyle('failure')", ng-click="dismissMessage()")
                .vah
                .message!="{{failureMessage}}"
                .vah
                a.dismiss!="&times;"
      article
        .finish-workout.tac
          button.dark.large(ng-if="$state.includes('user.workout')", ng-click="finishWorkout()")!="Finish Workout"
          button.dark.large(ng-if="$state.includes('user.history.details')", ng-click="updateWorkout()")!="Update Workout"
.rest-timer(ng-if="$state.includes('user.workout')", ng-controller="RestTimerController", ng-show="showRestTimer")
  section
    .heading.h3-font-size
      | {{ rest_message_1 }}
    .content
      | {{ rest_message_2 }}
      .time
        span(ng-if='restTime > 59999')
          | {{ restTime | date:'m' }}m&nbsp;
        span
          | {{ restTime | date:'s' }}s
      a.dismiss(ng-click="restTimer.clear()")
        | &times;
div(ui-view="")