section.login
  .heading
    .ldquo!="&ldquo;"
    .quote!="You ain't dead yet."
    .rdquo!="&rdquo;"
  .content(ng-show="sessionStorage.authenticatingWithFacebook")
    .form-wrapper
      form.tac
        article
          .h3-font-size
            | Authenticating with Facebook.
        article.tac
          .h3-font-size
            | Please wait...
  .content(ng-hide="sessionStorage.authenticatingWithFacebook")
    .form-wrapper
      form(name="form")
        article
          .h3-font-size.tac
            .brand
              .icon.vam(ng-include="'svg/zombie-head.html'")
              .ib.vam.creepster
                | Undead Lifts
        article.tac
          .h3-font-size
            | Log in to your account.
        article.email
          label
            | Email Address
          .input-wrapper(ng-class="{error: emailError}")
            input(type="email", name="email", ng-model="email", ng-required="true", focus="focusEmail")
        article.password
          label
            | Password
          .input-wrapper(ng-class="{error: passwordError}")
            input(type="password", name="password", ng-model="password", ng-required="true", focus="focusPassword")
        article.submit
          button.dark(ng-click="logIn()", ng-disabled="form.$invalid")
            .value(ng-bind="logInButtonText")!="Log in"
      article.or-divider
        .divider
        .or-wrapper
          .or!="||"
      article.facebook
        button.facebook(ng-click="logInWithFacebook()")
          .value!="Log in with Facebook"
    article.create-account
      button(ui-sref="signup")
        .value!="Create your free account"
