nav#nav(ng-controller="NavController")
  .content
    .w20.tal.h3-font-size
      div(ng-if="$state.is('user.index')")
        .nbsp!="&nbsp;"
        .icon(ng-include="'svg/zombie-head.html'")
      a(ng-if="initialState && !$state.is('user.index')", ng-click="$state.replace('user.index')")
        .lsaquo!="&lsaquo;"
        .icon(ng-include="'svg/zombie-head.html'")
      a(ng-if="!initialState && !$state.is('user.index')", ng-click="$state.back()")
        .lsaquo!="&lsaquo;"
        .icon(ng-include="'svg/zombie-head.html'")

    .w60.state-title.h3-font-size
      div(ng-switch='' on='$state.current.name')
        span(ng-switch-when="user.index")!="Undead Lifts"
        span(ng-switch-when="user.create-routine.add-lift")!="Add Lift"
        span(ng-switch-default="")!="{{ getTitle() }}"
    .w20.tar.h3-font-size
      // TODO: Clean up the following. Move some of the logic to controller?
      div(ng-if="$state.is('user.history.month')")
        a(ui-sref="user.history.list")
          .icon(ng-include="'svg/list.html'")
        .nbsp!="&nbsp;"
      div(ng-if="$state.is('user.history.list')")
        a(ui-sref="user.history.month({ year: now.getFullYear(), month: now.getMonth() + 1 })")
          .icon(ng-include="'svg/calendar.html'")
        .nbsp!="&nbsp;"
      div
        a(ng-click="showMenu = true;")
          .icon(ng-include="'svg/drops.html'")
        .nbsp!="&nbsp;"
      .hide-menu(ng-show="showMenu", ng-click="showMenu = false;")
      .menu(ng-show="showMenu")
        .top-position-helper!="&nbsp;"
        a(ng-if="$state.includes('user.select-routine')", ui-sref="user.create-routine")
          !="Create Routine"
          .nbsp!="&nbsp;"
        a(ng-if="$state.includes('user.workout') || $state.includes('user.history.details')", ng-click="deleteWorkout()")
          !="Delete Workout"
        a(ui-sref="user.settings")
          !="Settings"
        a(ng-click="logout()")
          !="Logout"