nav#nav(ng-controller="NavController")
  .content
    .w20.tal.h3-font-size
      div(ng-if="$state.is('user.index')")
        .nbsp!="&nbsp;"
        .icon(ng-include="'svg/zombie-head.html'")
      a(ng-if="initialState && !$state.is('user.index')", ng-click="$state.replace('user.index')")
        .lsaquo!="&lsaquo;"
        .icon(ng-include="'svg/zombie-head.html'")
      a(ng-if="!initialState && !$state.is('user.index')", ng-click="$state.back()")
        .lsaquo!="&lsaquo;"
        .icon(ng-include="'svg/zombie-head.html'")

    .w60.state-title.h3-font-size
      div(ng-switch='' on='$state.current.name')
        span(ng-switch-when="user.index")!="Undead Lifts"
        span(ng-switch-when="user.routine.create.add-lift")!="Add Lift"
        span(ng-switch-default="")!="{{ getTitle() }}"
    .w20.tar.h3-font-size
      // TODO: Clean up the following. Move some of the logic to controller?
      div
        a(ng-show="$state.is('user.index') || $state.is('user.settings')", ng-click="logout()")
          .icon(ng-include="'svg/sign-out.html'")
        a(ng-show="$state.is('user.routine.list')", ui-sref="user.routine.create")
          .icon(ng-include="'svg/medkit.html'")
        a(ng-show="$state.is('user.history')", ng-click="toggleHistoryView()")
          .icon(ng-include="toggleHistoryViewIcon")
        a(ng-show="!$state.is('user.index') && !$state.is('user.settings') && !$state.is('user.routine.list') && !$state.is('user.history')", ng-click="showMenu = true;")
          .icon(ng-include="'svg/drops.html'")
        .nbsp!="&nbsp;"
      .hide-menu(ng-show="showMenu", ng-click="showMenu = false;")
      .menu(ng-show="showMenu")
        a(ng-repeat="item in nav.menuItems", ng-bind="item.text", ng-click="item.callback()")
        a(ng-if="$state.includes('user.routine.select')", ui-sref="user.routine.create")
          !="Create Routine"
        a(ng-if="$state.includes('user.workout')", ui-sref="user.routine.select")
          !="Change Routine"
        a(ng-if="$state.includes('user.workout') || $state.includes('user.history.details')", ng-click="deleteWorkout()")
          !="Delete Workout"
        a(ui-sref="user.settings")
          !="Settings"
        a(ng-click="logout()")
          !="Logout"