.index
  section
    .content
      .index
        article
          button.light.large(ng-if="!user.current_workout", ui-sref="user.select-routine")
            .icon(ng-include="'svg/dumbell.html'")
            .value.h3-font-size!="New Workout"
          button.light.large(ng-if="user.current_workout", ui-sref="user.workout")
            .icon(ng-include="'svg/dumbell.html'")
            .value.h3-font-size!="Continue Workout"
        article
          button.light.large(ui-sref="user.routines")
            .icon(ng-include="'svg/suitcases.html'", style="transform: scale(1.25, 1.25)")
            .value.h3-font-size!="Routines"
        article
          button.light.large(ui-sref="user.history({year: now.getFullYear(), month: now.getMonth() + 1})")
            .icon(ng-include="'svg/calendar.html'")
            .value.h3-font-size!="History"
        article
          button.light.large(ui-sref="user.settings")
            .icon(ng-include="'svg/gear.html'")
            .value.h3-font-size!="Settings"