.routine
  section
    .content
      article
        .routine-name
          label!="Name"
          .value
            input.w100(type="text", ng-model="routine.name", placeholder="Name this routine", autofocus="", blur-on-enter="")
      article(ng-style="routine.name.length === 0 ? {opacity: 0.333} : {}")
        table.lifts(ng-class="{'edit': showMoveControls}")
          tr
            th.name!="Lift"
            //th.sets!="Sets"
            //th.reps!="Reps"
            th.sets-and-reps!="Sets"
            th.remove
          tr.lift(ng-if="routine.lifts.length === 0")
            td(colspan="4").name!="No lifts selected."
          tr.lift(ng-repeat="lift in routine.lifts")
            td.name
              span(ng-show="lift.type === 'Dumbbell' && lift.ambigiousName")!='Dumbell '
              textarea(rows="1", msd-elastic="", ng-model="lift.name", focus="lift.isNew")
            td.sets-and-reps
              .ib.custom-select
                a.value(ng-bind="lift.sets")
                select(ng-model="lift.sets", ng-options="i for i in [1,2,3,4,5]")
              .ib.x!=' x '
              .ib.custom-select
                a.value(ng-bind="lift.reps")
                select(ng-model="lift.reps", ng-options="i for i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]")
            td.remove
              a(ng-click="removeLift(lift)")!="&times;"
      article(ng-style="routine.name.length === 0 ? {opacity: 0.333} : {}")
        .buttons
          .add-lift
            button.dark(ng-disabled="routine.name.length === 0", ng-click="addLift(routine)")
              .value!="Add Lift"
          .edit-lifts
            button.dark(ng-disabled="routine.lifts.length === 0", ng-click="editLifts()")
              .value!="Edit Lifts"
          .divider
          .create-routine(ng-show="$state.is('user.routine.create')")
            button.dark(ng-disabled="routine.name.length === 0 || routine.lifts.length === 0", ng-click="createRoutine()")
              .value!="Create Routine"
          .update-routine(ng-show="$state.is('user.routine.edit')")
            button.dark(ng-disabled="routine.name.length === 0 || routine.lifts.length === 0", ng-click="updateRoutine()")
              .value!="Update Routine"
.add-lifts(ui-view="")