.modal-background
  section
    .content
      .modal-gutter
      .modal-dialog
        h3!="Change {{ lift.name }} Weight"
        .tal
          | If your bar weighs {{ weight_unit === 'kg' ? 20 : 45 }}{{ weight_unit }}, {{ weight }}{{ weight_unit }} means you add {{ (weight - 45) / 2 }}{{ weight_unit }} on each side.
        br
        .tac
          .ib
            button.light(ng-click="decreaseWeight()")!="-"
          span.h2-font-size.monospace
            | &nbsp;&nbsp;{{ weight }}{{ user.weight_unit }}&nbsp;&nbsp;
          .ib
            button.light(ng-click="increaseWeight()")!="+"
        br
        .tac
          .ib.w50.pr05em
            button.dark(ng-click="cancelChanges()")
              .value!="Cancel"
          .ib.w50.pl05em
            button.dark(ng-click="saveWeight()")
              .value!="OK"
        .plates
          br
          h3!="Plate Calculator"
          .forty-five(ng-if="plates['45']")
            | {{ plates['45'] }} X
            .plate!="45lb"
          .thirty-five(ng-if="plates['35']")
            | {{ plates['35'] }} X
            .plate!="35lb"
          .twenty-five(ng-if="plates['25']")
            | {{ plates['25'] }} X
            .plate!="25lb"
          .ten(ng-if="plates['10']")
            | {{ plates['10'] }} X
            .plate!="10lb"
          .ib
            .five(ng-if="plates['5']")
              | {{ plates['5'] }} X
              .plate!="5lb"
            .two-point-five(ng-if="plates['2.5']")
              | {{ plates['2.5'] }} X
              .plate!="2&frac12;lb"

      .modal-gutter