html(ng-app="undeadlifts")
  head
    block head
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title="UndeadLifts"
      include favicon
      link(rel="icon", href="/favicon.ico", type="image/x-icon")
      block stylesheets
        link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Aclonica|Belleza|Finger+Paint|Creepster")
        link(rel="stylesheet", type="text/css", href="/undeadlifts.css")
      block scripts
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js")
        script(src="https://cdn.firebase.com/js/client/1.1.0/firebase.js")
        script(src="lib.min.js")
        script(src="undeadlifts.js")
        script(src="templates.js")
  body
    .wrap
      style!=".loading svg { box-sizing: border-box; padding: 1.5em; background: black; color: #434d38; }"
      .loading(ng-hide="appInitialized")
        include svg/zombie-head
      .main(ui-view="", ng-show="appInitialized")
      .modal-background(ng-show="alertModal.show || confirmModal.show")
        .modal-gutter
        .modal-dialog(ng-show="alertModal.show")
          .alert-message(ng-bind="alertModal.message")
          button.clear(ng-click="alertModal.clear()")!="OK"
        .modal-dialog(ng-show="confirmModal.show")
          .confirm-message(ng-bind="confirmModal.message")
          button.cancel(ng-bind="confirmModal.cancelText")
          button.confirm(ng-bind="confirmModal.confirmText")
        .modal-gutter
    .footer
      block footer
        a(href="http://icons8.com/icons/#!/5150/zombie")!="Zombie"
        !=" icon by "
        a(href="http://www.icons8.com", title="Icons8")!="Icons8"
        !=" is licensed under "
        a(href="https://creativecommons.org/licenses/by-nd/3.0/", title="Creative Commons Attribution-NoDerivs 3.0 Unported")!="CC BY-ND 3.0"